# Task
Import the CSV file "Test.csv" from Google Drive and write each row into a separate JSON file.

## Mount google drive

### Subtask:
Mount your Google Drive to access the CSV file.

**Reasoning**:
Mount Google Drive to access the CSV file.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Load csv

### Subtask:
Read the CSV file named "Test.csv" into a pandas DataFrame.

**Reasoning**:
Import pandas and read the CSV file from Google Drive into a DataFrame, then display the head and info of the DataFrame.

In [ ]:
import pandas as pd
import os

file_path = '/content/drive/Shareddrives/AmFamSharedDrive/UW_Madison_DSHB_AmFam_Capstone/02_Data/persona/minmax.csv' # Corrected path

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path)
        display(df.head())
        display(df.info())
    except Exception as e:
        print(f"Error reading the CSV file: {e}")
else:
    print(f"File not found at {file_path}")

,county,mode,age,income,home_value,wind_avg,storm_count,education,preparedness,risk_response,kids,employment,status,flood_zone,elevation_diff,flood_depth,construction_year,ownership
0,Duval,base,50,33000,290500,70.4,133,"Some college, no degree",Individuals who are Prepared,Likely,1.0,employed,Single,X,NaN,0.0,1986,own
1,Duval,max,95,1258000,1327500,160.0,133,Bachelor's degree,Very likely,Very likely,2.0,employed,Married with spouse present,X,NaN,0.0,1986,own
2,Duval,min,18,4,199075,25.0,133,"Some college, no degree",Individuals who are Prepared,Likely,0.0,unemployed,Single,X,NaN,0.0,1986,rent
3,Duval,random,84,30000,249948,70.0,133,Bachelor's degree,Individuals who are Prepared,Likely,0.0,employed,Single,AE,NaN,NaN,1997,rent
4,Duval,random,52,53000,348819,90.0,133,Associate's degree,Individuals who are Prepared,Very likely,2.0,employed,Married with spouse present,AE,NaN,NaN,1997,own

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   county             80 non-null     object
 1   mode               80 non-null     object
 2   age                80 non-null     int64
 3   income             80 non-null     int64
 4   home_value         80 non-null     int64
 5   wind_avg           80 non-null     float64
 6   storm_count        80 non-null     int64
 7   education          80 non-null     object
 8   preparedness       80 non-null     object
 9   risk_response      79 non-null     object
 10  kids               80 non-null     float64
 11  employment         80 non-null     object
 12  status             80 non-null     object
 13  flood_zone         80 non-null     object
 14  elevation_diff     43 non-null     float64
 15  flood_depth        67 non-null     float64
 16  construction_year  80 non-null     int64
 17  ownership          80 non-null     object
dtypes: float64(4), int64(5), object(9)
memory usage: 11.4+ KB

None

changing income values of 1 or 4 to be 0

In [ ]:
df['income'] = df['income'].replace([1, 4], 0)

In [ ]:
df['income'].value_counts()

income
0          16
33000       3
35000       3
30000       2
95000       2
53000       2
1479000     2
63000       2
50000       2
1471000     2
34000       2
24000       2
17000       1
981000      1
29400       1
53100       1
10000       1
1258000     1
1514800     1
49400       1
107200      1
806000      1
32000       1
1057200     1
89900       1
77000       1
15000       1
30500       1
50200       1
36500       1
1131000     1
22200       1
36000       1
74400       1
1041000     1
1000500     1
29000       1
49000       1
40000       1
976000      1
475000      1
145900      1
1248000     1
31000       1
34850       1
1200        1
35910       1
1367100     1
48000       1
62000       1
1064000     1
65300       1
Name: count, dtype: int64

## Convert to JSON

### Subtask:
Iterate through each row of the DataFrame and save it as a separate JSON file.

**Reasoning**:
Iterate through each row of the DataFrame and save each row as a JSON file in a specified output directory.

In [ ]:
import json
import os

output_dir = '/content/drive/Shareddrives/AmFamSharedDrive/UW_Madison_DSHB_AmFam_Capstone/02_Data/persona/json'
os.makedirs(output_dir, exist_ok=True)
print(f"Output directory created or verified: '{output_dir}'")

print("\nStarting file generation...")
count = 0
for index, row in df.iterrows():

    county_value = str(row['county']).strip().replace(' ', '_').replace('.', '_')
    mode_value = str(row['mode']).strip().replace(' ', '_').replace('.', '')

    json_filename = os.path.join(
        output_dir,
        f'persona_row_{index}_{county_value}_{mode_value}.json')

    row.to_json(json_filename, indent=4)
    count += 1
    print(f"  -> Saved: {os.path.basename(json_filename)}")

print(f"\nSuccessfully saved {count} rows as separate JSON files in '{output_dir}'")

Output directory created or verified: '/content/drive/Shareddrives/AmFamSharedDrive/UW_Madison_DSHB_AmFam_Capstone/02_Data/persona/json'

Starting file generation...
  -> Saved: persona_row_0_Duval_base.json
  -> Saved: persona_row_1_Duval_max.json
  -> Saved: persona_row_2_Duval_min.json
  -> Saved: persona_row_3_Duval_random.json
  -> Saved: persona_row_4_Duval_random.json
  -> Saved: persona_row_5_Broward_base.json
  -> Saved: persona_row_6_Broward_max.json
  -> Saved: persona_row_7_Broward_min.json
  -> Saved: persona_row_8_Broward_random.json
  -> Saved: persona_row_9_Broward_random.json
  -> Saved: persona_row_10_Alachua_base.json
  -> Saved: persona_row_11_Alachua_max.json
  -> Saved: persona_row_12_Alachua_min.json
  -> Saved: persona_row_13_Alachua_random.json
  -> Saved: persona_row_14_Alachua_random.json
  -> Saved: persona_row_15_St__Johns_base.json
  -> Saved: persona_row_16_St__Johns_max.json
  -> Saved: persona_row_17_St__Johns_min.json
  -> Saved: persona_row_18_St__Johns_random.json
  -> Saved: persona_row_19_St__Johns_random.json
  -> Saved: persona_row_20_Bay_base.json
  -> Saved: persona_row_21_Bay_max.json
  -> Saved: persona_row_22_Bay_min.json
  -> Saved: persona_row_23_Bay_random.json
  -> Saved: persona_row_24_Bay_random.json
  -> Saved: persona_row_25_Leon_base.json
  -> Saved: persona_row_26_Leon_max.json
  -> Saved: persona_row_27_Leon_min.json
  -> Saved: persona_row_28_Leon_random.json
  -> Saved: persona_row_29_Leon_random.json
  -> Saved: persona_row_30_Brevard_base.json
  -> Saved: persona_row_31_Brevard_max.json
  -> Saved: persona_row_32_Brevard_min.json
  -> Saved: persona_row_33_Brevard_random.json
  -> Saved: persona_row_34_Brevard_random.json
  -> Saved: persona_row_35_Pasco_base.json
  -> Saved: persona_row_36_Pasco_max.json
  -> Saved: persona_row_37_Pasco_min.json
  -> Saved: persona_row_38_Pasco_random.json
  -> Saved: persona_row_39_Pasco_random.json
  -> Saved: persona_row_40_Seminole_base.json
  -> Saved: persona_row_41_Seminole_max.json
  -> Saved: persona_row_42_Seminole_min.json
  -> Saved: persona_row_43_Seminole_random.json
  -> Saved: persona_row_44_Seminole_random.json
  -> Saved: persona_row_45_Palm_Beach_base.json
  -> Saved: persona_row_46_Palm_Beach_max.json
  -> Saved: persona_row_47_Palm_Beach_min.json
  -> Saved: persona_row_48_Palm_Beach_random.json
  -> Saved: persona_row_49_Palm_Beach_random.json
  -> Saved: persona_row_50_Osceola_base.json
  -> Saved: persona_row_51_Osceola_max.json
  -> Saved: persona_row_52_Osceola_min.json
  -> Saved: persona_row_53_Osceola_random.json
  -> Saved: persona_row_54_Osceola_random.json
  -> Saved: persona_row_55_Hillsborough_base.json
  -> Saved: persona_row_56_Hillsborough_max.json
  -> Saved: persona_row_57_Hillsborough_min.json
  -> Saved: persona_row_58_Hillsborough_random.json
  -> Saved: persona_row_59_Hillsborough_random.json
  -> Saved: persona_row_60_Pinellas_base.json
  -> Saved: persona_row_61_Pinellas_max.json
  -> Saved: persona_row_62_Pinellas_min.json
  -> Saved: persona_row_63_Pinellas_random.json
  -> Saved: persona_row_64_Pinellas_random.json
  -> Saved: persona_row_65_Manatee_base.json
  -> Saved: persona_row_66_Manatee_max.json
  -> Saved: persona_row_67_Manatee_min.json
  -> Saved: persona_row_68_Manatee_random.json
  -> Saved: persona_row_69_Manatee_random.json
  -> Saved: persona_row_70_Sarasota_base.json
  -> Saved: persona_row_71_Sarasota_max.json
  -> Saved: persona_row_72_Sarasota_min.json
  -> Saved: persona_row_73_Sarasota_random.json
  -> Saved: persona_row_74_Sarasota_random.json
  -> Saved: persona_row_75_Lee_base.json
  -> Saved: persona_row_76_Lee_max.json
  -> Saved: persona_row_77_Lee_min.json
  -> Saved: persona_row_78_Lee_random.json
  -> Saved: persona_row_79_Lee_random.json

Successfully saved 80 rows as separate JSON files in '/content/drive/Shareddrives/AmFamSharedDrive/UW_Madison_DSHB_AmFam_Capstone/02_Data/persona/json'

## Load csv

### Subtask:
Retry loading the CSV file named "Test.csv" into a pandas DataFrame, considering the previous failure where the file was not found.

**Reasoning**:
Retry loading the CSV file using the specified path and check for its existence before attempting to read it into a DataFrame.